<h1 class="page-header">Users</h1>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
		    <tbody>
		      <% @users.each do |user| %>
		        <tr>
		          <%= render user %>
		        </tr>
		      <% end %>
		    </tbody>
		</table>
		<br>
		<%= link_to 'Back', :back %>
	</div>
</div>