<% content_for :title do %>About<% end %>
<div class="row">
	<div class="col-xs-12">
		<h1>About this website</h1>
		<p>This website is developed and maintained by <a href="http://www.taalmonsters.nl" target="_blank">De Taalmonsters</a> for the Social Media Analytics course taught at Tilburg University (Spring semester, 2016).</p>
		<p>It is intended for use by course lecturers and participants. Use requires both a Facebook account and a Twitter account.</p>
		<p>For questions, remarks and bug reports, please <a href="mailto:matje@taalmonsters.nl">contact the administrator</a>.</p>
	</div>
</div>
