<div class="panel panel-info">
	<div class="panel-body">
		<p>Enter a Twitter user id or name tag to recreate that user's social network.</p>
	</div>
</div>
<%= render 'form' %>

<%= link_to 'Back', user_twitter_graphs_path, :class => 'btn btn-default' %>
