<% if current_user.facebook_searches.size > 0 %>
<div id="facebook-search-list">
	<%= render 'facebook_searches/list' %>
</div>
<br>
<% end %>
<% if current_user.has_open_facebook_slots? %>
<%= link_to 'New Facebook search', new_user_facebook_search_path %>
<% else %>
<p>Please wait until your previous search is finished before adding a new one.</p>
<% end %>
