<div class="panel panel-info">
	<div class="panel-body">
		<p>Enter a query to search for Facebook status updates and comments.</p>
		<p>
			The searcher will first retrieve all <b>pages</b> whose name or description matches your query.
			Next, all retrievable <b>status updates</b> of those pages are retrieved, followed by all <b>comments</b> to those statuses.
		</p>
		<p>Keep in mind that your query most likely will NOT occur in the literal text of the updates and comments. However, if you choose your query carefully, you can assume that the overall subject of the updates and comments does match your query.</p>
		<p>Example queries:
			<ul>
				<li><label>Token search:</label> Obama</li>
				<li><label>Term search:</label> "Barack Obama"</li>
				<li><label>Boolean AND:</label> potus "Barack Obama"</li>
				<li><label>Boolean OR:</label> "White House" | "Barack Obama" (note the spaces)</li>
			</ul>
		</p>
	</div>
</div>
<%= render 'form' %>

<%= link_to 'Back', user_facebook_searches_path, :class => 'btn btn-default' %>
