div.container-fluid {
	height: 100%;
	#left {
    background: #CECECE;
    border-right: 1px solid #999;
		height: calc( 100% - 51px );
		position: absolute;
	    top: 51px;
	    bottom: 0;
	    left: 0;
		overflow: hidden;
		#footer {
			position: absolute;
			bottom: 0;
		}
	}
	#right {
		height: calc( 100% - 51px );
		position: absolute;
	    top: 51px;
	    bottom: 0;
	    right: 0;
		overflow-y: auto;
	}
	.alert {
	  margin-top: 15px;
	}
}

ul.menu {
  width: 100%;
  padding-top: 40px;
  .menu-item {
    width: 100%;
    margin-bottom: 4px;
    > a {
      cursor: pointer;
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 8px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    > a:hover {
      background-color: #FFF;
      color: #000;
    }
    &.active > a {
      background-color: #FFF;
    }
  }
}
