<% if current_user.twitter_id_searches.size > 0 %>
<div id="twitter-id-search-list">
	<%= render 'twitter_id_searches/list' %>
</div>
<br>
<% end %>
<%= link_to 'New Twitter ID Search', new_user_twitter_id_search_path %>
