<div class="panel panel-info">
	<div class="panel-body">
		<p>Enter a list of tweets IDs to retrieve the actual tweets. Tweets IDs should be entered comma-separated, without any whitespace in between. Max. 100 tweets may be retrieved at a time.</p>
	</div>
</div>
<%= render 'form' %>

<%= link_to 'Back', user_twitter_id_searches_path, :class => 'btn btn-default' %>
